.topbar{
    width: 100%;
    height: 50px;
    background:white;
    position: sticky;
    top: 0;
    z-index: 999;
}
.topbarWrapper{
    height: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
 .logo
 {
     font-weight: bold;
     font-size: 20px;
     color: rgb(34, 34, 114);
}
.topbarIconContainer
{
 position: relative;
 cursor: pointer;
 margin-right: 10px;
 color: #555;
}
.topIconBadge
{
    border-radius: 50%;
    background: rgb(238, 85, 85);
    color: white;
    height: 15px;
    width: 15px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -5px;
    position: absolute;
    display: flex;
}
.topRight
{
    display: flex;
    align-items: center;

}